; vim: set fileencoding=utf-8 :
; Fri Dec 23 14:06:11 CET 2016

[buildout]
parts = scripts
develop = .
eggs = bob.example.library
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true